/* General styles - matching SectionList */
.table-row.shadow-on-hover:hover {
    box-shadow: 0 2px 3px rgba(196, 181, 181, 0.9);
}

.modal.zoom .modal-dialog {
    transition: transform 0.2s ease-out;
    transform: scale(0.4);
}

.modal.zoom.show .modal-dialog {
    transform: scale(1);
}

.rounded-circle {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* Override react-bootstrap styles if necessary */
.page-heading .card {
    border-radius: 0.75rem;
}

.table {
    font-size: 0.9rem;
}

.page-item .page-link {
    font-size: 0.9rem;
}

.form-select,
.form-control {
    font-size: 0.9rem;
}
