/* filepath: src/components/topic/AddTopic.css */
label {
    font-weight: 600;
    font-size: 12px;
    color: rgb(44, 44, 44);
}

.error-feedback {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.required-field {
    color: red;
    font-size: 12px;
    margin-left: 4px;
}

.custom-font {
    font-family: inherit;
}

.is-invalid {
    border-color: var(--color-danger);
}