.table-section7-triple th {
   color: #052649; 
   font-weight: bold;
}
.table-section7-triple td {
   color: #052649; 
   font-weight: normal;
}
.table-section7-triple .modal.zoom .modal-dialog {
  transition: transform 0.2s ease-out;
  transform: scale(0.4);
}
.table-section7-triple .modal.zoom.show .modal-dialog {
  transform: scale(1);
}
.table-section7-triple .question-image {
    width: 50px;
}
.table-section7-triple .table {
    font-size: 13px;
}
.table-section7-triple audio {
    width: 100%;
    max-width: 300px;
}