.table-section7-triple-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table-section7-triple th {
   color: #052649; 
   font-weight: bold;
   white-space: pre-line;
   max-width: 220px;
}

.table-section7-triple td {
   color: #052649; 
   font-weight: normal;
   white-space: pre-line;
   vertical-align: middle;
   max-width: 220px;
   word-break: break-word;
}

.table-section7-triple .modal.zoom .modal-dialog {
  transition: transform 0.2s ease-out;
  transform: scale(0.4);
}
.table-section7-triple .modal.zoom.show .modal-dialog {
  transform: scale(1);
}
.table-section7-triple .question-image {
    min-width: 80px;
    max-width: 130px;
}
.table-section7-triple .table {
    font-size: 13px;
    min-width: 1300px;
}
.table-section7-triple audio {
    width: 100%;
    max-width: 300px;
}

/* Đặc biệt cho các cột dài */
.table-section7-triple td:nth-child(2), 
.table-section7-triple td:nth-child(10), 
.table-section7-triple td:nth-child(11)   {
  max-width: 260px;
  white-space: pre-line;
}