.table-row.shadow-on-hover:hover {
   box-shadow: 0 2px 3px rgba(196, 181, 181, 0.9); 
}

th {
   color: #052649; 
   font-weight: bold;
}

td {
   color: #052649; 
   font-weight: normal;
}

.glowing-button {
    padding: 10px 20px;
    font-size: 13px;
    background: linear-gradient(45deg, #1c75bc, #145a91);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    transform-origin: center;
    text-decoration: none;
}

.glowing-button:hover {
    animation: glowing 1.5s infinite;
    color: white;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #2d97df, 0 0 20px #309ae0;
    }

    50% {
        box-shadow: 0 0 20px #2f94d8, 0 0 40px #3098dd;
    }

    100% {
        box-shadow: 0 0 5px #319ae0, 0 0 20px #2f98dd;
    }
}

.topic-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.input-group {
    border: 1px solid #6694c2;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
}

.input-group .form-control {
    border: none;
    box-shadow: none;
    outline: none;
}

.input-group .btn {
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.form-select,
.form-control {
    font-size: 14px;
}

.table {
    font-size: 13px;
}

.page-item .page-link {
    font-size: 13px;
}

/* Custom pagination button styles */
.page-link {
    border: none;
    background: none;
    color: #052649;
}

.page-link:hover {
    background-color: #f8f9fa;
    color: #052649;
}

.page-item.active .page-link {
    background-color: #052649;
    border-color: #052649;
    color: white;
}