.button {
  background-color: #052649;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #0a3a6d;
}

.button.bg-primary {
  background-color: #0d6efd;
}

.word-item {
  margin-top: 20px;
}

.word-info {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.word-actions {
  margin: 15px 0;
}

.badge {
  padding: 8px 12px;
  font-size: 14px;
  margin-right: 5px;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.bg-primary-subtle {
  background-color: rgba(13, 110, 253, 0.1);
}

.border-primary-subtle {
  border-color: rgba(13, 110, 253, 0.3) !important;
}

.text-primary-emphasis {
  color: #0a58ca !important;
}

.bg-success-subtle {
  background-color: rgba(25, 135, 84, 0.1);
}

.border-successs-subtle {
  border-color: rgba(25, 135, 84, 0.3) !important;
}

.text-success-emphasis {
  color: #146c43 !important;
}

.bg-info-subtle {
  background-color: rgba(13, 202, 240, 0.1);
}

.border-info-subtle {
  border-color: rgba(13, 202, 240, 0.3) !important;
}

.text-info-emphasis {
  color: #087990 !important;
}

.text-success {
  color: #198754 !important;
}

.text-danger {
  color: #dc3545 !important;
}

button.button5 {
  background-color: #e8f2ff;
  color: #35509a;
  border: none;
  font-weight: bold;
}

audio {
  width: 100%;
  max-width: 300px;
}
